<div class="container" style="margin-top: 70px; margin-left: 300px;">
  <h1>List</h1>
 
  <table border="1">
    <tr>
     <th> flightNumber</th>
     <th > flightModel</th>
    <th > carrierName</th>
       <th >  seatCapacity  </th> <br/>
    
                
 </tr>


<tr *ngFor="let flight of flightArr"  >
   <td>{{flight.flightNumber}}</td> 
    <td>{{ flight.flightModel}}</td> 
   <td>{{ flight.carrierName}}</td> 
   <td>{{ flight.seatCapacity}}</td> 
    <td><button class="btn btn-success"(click)="deleteFlightById(flight.flightNumber)">Remove</button></td> 
   
  </tr>
</table> 
</div>



