
<form #form ="ngForm"  (ngSubmit)="form.value && findFlight(form)">
   <div>
            <label>flightnumber</label>
            <input type="text" name="flightNumber" ngModel #flightNumberCtrl=ngModel required minlength="12">
            <div *ngIf="flightNumberCtrl.errors!=null && flightNumberCtrl.errors.required">
                number is required
            </div>
            <div *ngIf ="flightNumberCtrl.errors!=null && flightNumberCtrl.errors.minlength">
                Min length should be 12
            </div>
        </div>
    

   <br/> <button class="btn btn-success" type="submit" >Find flight</button>
</form>
<div *ngIf="foundStatus==='found'">

    flightmodel = {{foundFlight.flightModel}}
    carriername = {{foundFlight.carrierName}}
    seatcapacity = {{foundFlight.seatCapacity}}
</div>

<br>
<div *ngIf="foundStatus=='notfound'">
    flight not found !
    </div>
   